body{
    background-color: rgb(207, 204, 204);
    text-align: center;
}
h1{
    color: rgb(0, 3, 201);
}

.container{
    background-color: rgb(226, 226, 226);
    width: autopx;
    margin: auto;
    padding: 20px 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px rgb(122, 120, 120);
}
input{
    margin: 10px;
}
#passwordLength{
    font-size: 1em;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    border: none;
}
button{
    font-size: 1em;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgb(2, 182, 2);
    color: white;
    border: none ;
}

#passGen{
    font-size: 1em;
    text-align: center;
    border-radius: 4px;
    border: none;
}