body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} 

#myH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

#stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    margin-top: 20px;
    padding: 30px;
    background-color: #ffffff;
}

#display{
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 2px 2px 2px #8e8d8d;
}

#controls button{
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    transition: background-color 0.3s ease;
}

#start{
    background-color: #4CAF50;
}
#start:hover{
    background-color: #45a049;
}

#stop{
    background-color: #f44336;
}
#stop:hover{
    background-color: #da190b;
}

#reset{
    background-color: #008CBA;
}
#reset:hover{
    background-color: #007a9b;
}