body{
    margin: 0;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family:monospace;
    color: #ffffff;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsl(0, 0%, 100%, 0.1);
    height: auto;
}